body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 8px;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.home {
    background-color: #f00;
    cursor: pointer;
}

.navbar a:hover {
    background-color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    background-color: #555;
}

.dropbtn:hover {
    background-color: black;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px;
}

.dropdown-content a {
    float: none;
    color: red;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content{
    display: block;
}